<section class="container mx-auto" id="about">
    <h3 class="section-heading">About</h3>

    <div class="pl-3 space-y-4">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea
            laboriosam necessitatibus beatae culpa quaerat! Veritatis rerum quos
            eligendi ratione. Magni provident nam obcaecati dolorem blanditiis
            iure iste consequatur quos doloremque. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Impedit minima enim, facere dicta
            eveniet error autem commodi adipisci veritatis. Voluptate aperiam
            officiis nesciunt? Dolore molestiae quam ea accusantium, odit autem!
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
            minima tenetur quae, perspiciatis hic vero laudantium dolore est
            minus modi reiciendis ab voluptatum architecto aut voluptas
            perferendis, amet a quam?
        </p>
        <p>
            Reiciendis adipisci odit mollitia soluta vel sed ad incidunt ipsa
            libero voluptates rem doloremque, ea tenetur laboriosam perspiciatis
            architecto nesciunt, nostrum illo! Iste nihil quisquam sed
            praesentium quis placeat. Cumque.
        </p>
    </div>
</section>
