---
import ContactLinks from "./ContactLinks.astro";
---

<footer>
    <hr />
    <div class="container mx-auto text-gray-300">
        <div class="flex flex-col sm:flex-row items-center justify-between py-8 gap-4">
            <div class="flex gap-2 items-center">
                <span>Built with Astro</span>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="15"
                    height="15"
                    viewBox="0 0 256 256"
                    aria-hidden="true"
                    stroke="currentcolor"
                    style="--size:1.2em"
                    class="astro-fjbnaztq"
                    data-astro-cid-fjbnaztq=""
                >
                    <g data-astro-cid-fjbnaztq=""
                        ><rect fill="none"></rect><path
                            d="M191.11,112.89c24-24,25.5-52.55,24.75-65.28a8,8,0,0,0-7.47-7.47c-12.73-.75-41.26.73-65.28,24.75L80,128l48,48Z"
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="16"></path><path
                            d="M136,72H74.35a8,8,0,0,0-5.65,2.34L34.35,108.69a8,8,0,0,0,4.53,13.57L80,128"
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="16"></path><path
                            d="M184,120v61.65a8,8,0,0,1-2.34,5.65l-34.35,34.35a8,8,0,0,1-13.57-4.53L128,176"
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="16"></path><path
                            d="M94.56,187.82C90.69,196.31,77.65,216,40,216c0-37.65,19.69-50.69,28.18-54.56"
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="16"></path></g
                    >
                </svg>
                <span class="ml-2">© 2025</span>
            </div>
            <div class="flex gap-1 items-center">
                <span>Made with</span>
                <svg width="1em" height="1em" data-icon="line-md:heart-filled">
                    <symbol id="ai:line-md:heart-filled" viewBox="0 0 24 24"
                        ><path
                            fill="currentColor"
                            fill-opacity="0"
                            d="M12 8c0 0 0 0 0.76 -1c0.88 -1.16 2.18 -2 3.74 -2c2.49 0 4.5 2.01 4.5 4.5c0 0.93 -0.28 1.79 -0.76 2.5c-0.81 1.21 -8.24 9 -8.24 9c0 0 -7.43 -7.79 -8.24 -9c-0.48 -0.71 -0.76 -1.57 -0.76 -2.5c0 -2.49 2.01 -4.5 4.5 -4.5c1.56 0 2.87 0.84 3.74 2c0.76 1 0.76 1 0.76 1Z"
                            ><animate
                                fill="freeze"
                                attributeName="fill-opacity"
                                begin="0.7s"
                                dur="0.5s"
                                values="0;1"></animate></path
                        ><path
                            fill="none"
                            stroke="currentColor"
                            stroke-dasharray="32"
                            stroke-dashoffset="32"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 8c0 0 0 0 -0.76 -1c-0.88 -1.16 -2.18 -2 -3.74 -2c-2.49 0 -4.5 2.01 -4.5 4.5c0 0.93 0.28 1.79 0.76 2.5c0.81 1.21 8.24 9 8.24 9M12 8c0 0 0 0 0.76 -1c0.88 -1.16 2.18 -2 3.74 -2c2.49 0 4.5 2.01 4.5 4.5c0 0.93 -0.28 1.79 -0.76 2.5c-0.81 1.21 -8.24 9 -8.24 9"
                            ><animate
                                fill="freeze"
                                attributeName="stroke-dashoffset"
                                dur="0.7s"
                                values="32;0"></animate></path
                        ></symbol
                    ><use href="#ai:line-md:heart-filled"></use>
                </svg>

                <span>by Karthik S Salian</span>
            </div>
            <ContactLinks />
        </div>
    </div>
</footer>
