---
import ContactLinks from "./ContactLinks.astro";
---

<header
    class="flex items-center justify-between px-6 py-4 rounded-lg bg-black/30 backdrop-blur-sm w-full container -translate-x-1/2 left-1/2 top-4 fixed z-50"
>
    <h1 class="text-xl font-bold"><a href="/">Karthik S Salian</a></h1>

    <nav class="space-x-4">
        <a href="">About</a>
        <a href="">Projects</a>
        <a href="">Blogs</a>
    </nav>

    <ContactLinks/>
    
</header>
