---
import ContactLinks from "./ContactLinks.astro";
---

<header
    class="hidden sm:flex items-center justify-between px-6 py-4 rounded-lg bg-black/30 backdrop-blur-sm w-full container -translate-x-1/2 left-1/2 top-4 fixed z-50"
>
    <h1 class="text-xl font-bold"><a href="/">Karthik S Salian</a></h1>

    <nav class="md:space-x-4 space-x-2">
        <a href="#about" class="scroll-link">About</a>
        <a href="#experience" class="scroll-link">Experience</a>
        <a href="#projects" class="scroll-link">Projects</a>
        <!-- <a href="" class="scroll-link">Blogs</a> -->
    </nav>

    <ContactLinks />
</header>

<script is:inline>
    document.querySelectorAll(".scroll-link").forEach((link) => {
        link.addEventListener("click", (e) => {
            e.preventDefault();
            const target = document.querySelector(link.getAttribute("href"));
            if (target) {
                const yOffset = -120;
                const y =
                    target.getBoundingClientRect().top +
                    window.scrollY +
                    yOffset;
                window.scrollTo({ top: y, behavior: "smooth" });
            }
        });
    });
</script>
