---
import { Image } from "astro:assets";
import HeroImage from "../assets/hi.gif";
import ResumeLink from "./ResumeLink.astro";
---

<section
    class="container grid grid-cols-1 sm:grid-cols-2 place-content-center mt-24 mx-auto place-items-center p-4 min-h-[75vh]"
>
    <div class="space-y-4">
        <h3 class="text-5xl">Hello there</h3>
        <span class="text-2xl"
            >Hi, 👋 I'm Karthik S Salian. A web developer and Linux enthusiast</span
        >

        <button
            class="fancy-button mt-4 px-4 py-2 block"
            ><ResumeLink>View Resume</ResumeLink>
        </button>
    </div>

    <Image src={HeroImage} alt="Racoon waving" class="max-w-[60%]" />
</section>