---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<Head title="Karthik S Salian" description="Protfolio website" />
	</head>
	<body class="flex flex-col justify-center gap-24 px-8 relative">
		<Header />
		<slot />
	</body>
</html>
