---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>
<html lang="en">
	<head>
		<Head title="Karthik S Salian" description="Protfolio website" ogimage="/opengraph.png"/>
	</head>
	<body class="flex flex-col justify-center gap-24 px-8 relative">
		<Analytics/>
		<Header />
		<slot />
	</body>
</html>
